* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

:root{
    --port-color:rgb(39, 39, 255);
}

body {
    scroll-behavior: smooth;
}

.navbar {
    background: rgb(188, 208, 216);
    background: linear-gradient(98deg, rgba(188, 208, 216, 1) 0%, rgba(176, 197, 213, 1) 90%, rgba(153, 177, 192, 1) 100%);
}

.navbar-brand {
    color: rgb(1, 1, 1);
    font-size: 2rem;

}

.nav-link {
    color: rgb(0, 0, 0);
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
}

.nav-link:hover {
    background-color: white;
}


/* main section */


.main{
    background: url("../img/Main-1.jpg") no-repeat center;
    background-size: cover;
    height: 90vh;
}

.fs-8 {
    font-size: 4.5rem;
}

.port-primary-color{
    color: var(--port-color);
}

.bt1 {
    color: var(--port-color);
    letter-spacing: 1px;
}

.bt1:hover {
    background-color: var(--port-color) !important;
    color: #ffffff;
    transition: 0.5s;
}

.bt2 {
    background-color: transparent;
    color: white;
    border: 1px solid var(--port-color);
    letter-spacing: 1px;

}

.bt2:hover {
    background-color: var(--port-color) !important;
    color: #ffffff;
    transition: 0.5s;
}

.box-shadow{
    -webkit-box-shadow: 14px 14px 18px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 14px 18px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 14px 18px -17px rgba(0, 0, 0, 0.75);
}

.progress {
    background-color: #dedede;
    height: 25px;
    width: 100%;
    -webkit-box-shadow: inset 0px 1px 28px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 1px 28px -12px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 1px 28px -12px rgba(0, 0, 0, 0.75);
}

.pro-value1 {
    animation: load1 3s normal forwards;
    background-color: black;
    height: 25px;
    width: 0;
}

.progress p {
    color: white;
    padding: 3px 8px;

}

.pro-value2 {
    animation: load2 3s normal forwards;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value3 {
    animation: load3 3s normal forwards;
    background-color: black;
    height: 25px;
    width: 0;
}

.pro-value4 {
    animation: load4 3s normal forwards;
    background-color: black;
    height: 25px;
    width: 0;
}



@keyframes load1 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 98%;
    }
}

@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 65%;
    }
}

.btn1 {
    height: 3.5rem;
    width: 10rem;
    background-color: var(--port-color);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    margin-top: 5rem;
}

.btn1:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    transition: 0.5s;
}

.btn2 {
    height: 3.5rem;
    width: 10rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    letter-spacing: 1px;
}

.btn2:hover {
    background-color: var(--port-color);
    color: #ffffff;
    transition: 0.5s;
}


/*services */

.card {
    outline: none;
    -webkit-box-shadow: 0px 0px 18px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -12px rgba(0, 0, 0, 0.75);
}

.circle {
    width: 70px;
    height: 70px;
    background-color: lightgray;
    color: black;
    padding: 12px;
}

.card:hover .circle {
    background-color: var(--port-color);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}



/* portfolio */


.ctrl-btn {
    background-color: black;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
}


.item:hover {
    -webkit-box-shadow: 0px 1px 49px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 49px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 49px -15px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.i-span{
    top: 40%;
    left: 45%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;
}

.item:hover .i-span {
    opacity: 1;
    transition: 0.5s;
}

.item:before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(209, 209, 252, 0.521);
    opacity: 0;
    position: absolute;
}

.item:hover::before {
    opacity: 1;
    transition: 0.3s;
}


/* blog */


.circle:hover {
    background-color: var(--port-color);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}



/* contact */

.btn3 {
    background-color: var(--port-color);
    color: white;
    letter-spacing: 1px;
    margin-top: 5rem;
}

.btn3:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    transition: 0.5s;
}


footer {
    background-color: rgb(15, 15, 15);
}