@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

/* font-family: 'Playfair Display', serif; */
:root {
    --color-1: #4e5b69;
    --color-2: #F7882f;
    --color-3: #cca63f;
    --color-4: #e2d5c2;
    --color-5: #e5f1f5;
    --font-1: 'Montserrat', sans-serif;
    --font-2: 'Playfair Display', serif;
    --sidebar-width: 240px;

    /* alphacolors */
    --color-a-1: #71737b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-1);
    background-color: var(--color-5);
    color: var(--color-1);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-2);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-3);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-1);
}

img {
    width: 100%;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 80px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/* navbar */

.port-navbar {
    background-color: #ffffff;
}


.port-navbar .port-link {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-2);
    font-size: smaller;
    padding-top: 1em;
}

.port-navbar .port-link:hover {
    color: var(--color-1);
}

.port-navbar .port-link:active{
    color: var(--color-1);
}

.star {
    z-index: 0;
    width: 15%;
    height: 20px;
    float: right;
}

.social-media i {
    padding: 0.5em 0.5em;
    margin-top: 4.3em;
    background-color: var(--color-4);
    border-radius: 50%;
}

.social-media p {
    font-size: 13px;
}


.bg-base{
    background: var(--color-a-1);
}

.shadow-effect{
    transition: all 0.5s;
}
.shadow-effect:hover{
    box-shadow: -8px 8px 0 0 var(--color-2);
    
}
.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-4);
    color: var(--color-1);
}
















@media (min-width:992px) {
    .port-navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background-color: #ffffff;
    }

    .port-navbar img {
        border: 3px solid var(--color-2);
    }

    /* content wrapper */
    #content-wrapper {
        padding-left: var(--sidebar-width);
    }

}

/* btn */

.btn-brand {
    background-color: var(--color-3);
    color: #e5f1f5;
    border-color: var(--color-3);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-4);
    color: var(--color-1);
    border-color: var(--color-4);
}


.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-4);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.5s;
}

.link-custom:hover::after {
    width: 100%;
}